body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:735px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:13px;
  width:701px;
  height:450px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:20px;
  width:341px;
  height:53px;
  font-size:28px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  word-wrap:break-word;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:170px;
  width:607px;
  height:172px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:152px;
  height:30px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:0px;
  width:152px;
  height:30px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:151px;
  height:30px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:65px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:152px;
  height:65px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:148px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:65px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:30px;
  width:152px;
  height:65px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:148px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:65px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:30px;
  width:152px;
  height:65px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:148px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:65px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:30px;
  width:151px;
  height:65px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:147px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:77px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:152px;
  height:77px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:77px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:95px;
  width:152px;
  height:77px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:77px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:95px;
  width:152px;
  height:77px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:77px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:95px;
  width:151px;
  height:77px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:147px;
  word-wrap:break-word;
}
